* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.header {
    height: 850px;
    padding: 40px 80px;
    background: url('./images/img/home-background.jpg') no-repeat 0 0;
    background-size: cover;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
}
.header_logo {
    width: 68px;
    height: 38px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #60606e;;
}
.nav {
   display: flex;
   list-style: none;
}
.nav_item {
     margin-right: 20px;
}
.nav_link {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; 
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #60606e;
}
.header_info {
  text-align: center;
  margin-top: 148px;
}
.header_info-lable {
    padding: 6px 9px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.9;
    background-color: #7beec7;
    color: #60606e;  
}
.header_info-title {
    width: max-content;
    margin: 0 auto;
    padding: 10px 29px;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    color: #60606e;
    border: solid 10px #60606e;
    background-color: rgba(96, 96, 110, 0);
}
.header_info-text {
    font-family: "OpenSans", sans-serif;
    width: 555px;
    margin: 25px auto 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #60606e;
}