* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #60606e
}
.main {
    max-width: 1140px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}
.header {
    height: 850px;
    padding: 40px 0;
    background: url('./images/img/home-background.jpg') no-repeat 0 0;
    background-size: cover;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
}
.header_logo {
    width: 68px;
    height: 38px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #60606e;;
}
.nav {
   display: flex;
   list-style: none;
}
.nav_item {
     margin-right: 20px;
}
.nav_link {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; 
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #60606e;
}
.header_info {
  text-align: center;
  margin-top: 148px;
}
.header_info-lable {
    padding: 6px 9px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.9;
    background-color: #7beec7;
    color: #60606e;  
}
.header_info-title {
    width: max-content;
    margin: 0 auto;
    padding: 10px 29px;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    color: #60606e;
    border: solid 10px #60606e;
    background-color: rgba(96, 96, 110, 0);
}
.text {
    font-family: "OpenSans", sans-serif;
    width: 555px;
    margin: 25px auto 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #60606e;
}
.header_info-content {
    display: flex;
}
.header_info-picture {
    margin-top: 107px;

}
.header_info-history {
    margin-top: 129px;
    margin-left: 127px;
}
.header_info-subtitle {
    position: relative;
    z-index: 0; 
}
.subtitle { 
    font-size: 30px;
    line-height: 1.6;
    font-weight: bold;
    color: #60606e;
}
.header_info-subtitle::before {
    content: '';
    position: absolute;
    width: 67px;
    height: 21px;
    top: 18px;
    z-index: -1;
    background-color: #7beec7;
}
.header_info-text {
    line-height: 1.88;
}
.header_btn { 
  width: 135px;
  float: right;
  margin-top: 40px;
  background-color: #a5edc7;     
}
.btn {
    font-family: "Montserrat", sans-serif;
    width: 165px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    color: #ffffff;
    background-color: #7beec7;
}
.advanteges_title {
    margin-top: 142px;
    text-align: center;
}
.advanteges_text {
    width: 710px;
    margin-top: 0;
    font-size: 14px;
    line-height: 1.71;
}
.advanteges {
    display: flex;
    
}
.advanteges_elements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 50%;
    margin-top: 97px;
}
.advanteges_info {
    width: 50%;
}
.advanteges_info:nth-child(2n) {
    padding-left: 50px;
}
.advanteges_icon {
    width: 38px;
    height: 38px;
    fill: #60606e;
}
.advanteges_subtitle {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
    color: #60606e;
}
.advanteges_list {
    font-family: "OpenSans", sans-serif;
    margin-top: 10px;  
}
.advanteges_list-item {
    list-style: none;
    font-size: 14px;
    line-height: 2.14;
    text-transform: uppercase;
    color: #999999;
}
.advanteges_picture {
    width: 457px;
    height: 500px;
    margin-left: 102px;
    margin-top: 87px;
}
.portfolio {
    display: flex;
    margin-top: 86px;
}
.portfolio_title {
    width: 260px;
}
.portfolio_list {
    list-style: none;
}
.portfolio_item {
    font-size: 14px;
    font-weight: bold;
    width: min-content;
    padding: 2px 20px;
    margin-top: 10px;
    white-space: nowrap;
    color: #60606e; 
}
.portfolio_link {
    text-decoration: none;  
    color: inherit;
}
.portfolio_item:hover {
    background-color: #7beec7;
    color: #ffffff;
}
.portfolio_item:first-child {
    text-transform: uppercase;
    background-color: #7beec7;
    color: #ffffff;
    margin-top: 20px;
}
.feedback_wrapper {
    display: flex;
    height: 330px;
    justify-content: space-between;
    margin-top: 149px;
    background-color: #7beec7;
    padding: 45px 79px 45px 60px ;
}
.feedback_title {
    width: 530px;
    color: #ffffff;
}
.feedback_btn { 
    margin-top: 20px;
    background-color: #ffffff;
    color: #7beec7;
}
.feedback_form {
    width: 556px;
    padding: 15px;
    background-color: #ffffff;
}
.feedback_form-title {
    font-size: 23px;
    line-height: 1.5;
}
.feedback_form-text {
    font-family: "OpenSans", sans-serif;
    padding: 0 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #999999;
}
.feedback_input{
    display: flex;
    margin-top: 10px;
    padding-left: 20px;   
}
.feedback_input-search {
    font-family: "Montserrat", sans-serif;
    width: 375px;
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 4;
    outline: 0;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.feedback_input-search::placeholder {
    color: #cdcdcd;
}
.feedback_input-btn {
    width: 135px;
}


.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    padding: 0 80px;
}
.footer_nav {
    display: flex;
    margin-right: 47px;
}
.footer_nav-item, .footer_copyright-text {
    font-family: "OpenSans", sans-serif;
    position: relative;
    margin-right: 45px;
    font-size: 14px;
    line-height: 3.43;
    list-style: none;
    text-transform: uppercase;
}
.footer_nav-item::before {
    content: '';
    display: flex;
    top: 24px;
    right: -24px;
    position: absolute;
    width: 3px;
    height: 1px;
    font-weight: bold;
    background-color: #9a9a9a;
}
.footer_nav-item:last-child::before {
    content: none;
}
.footer_nav-link {
    text-decoration: none;
    color: #9a9a9a;
}
.footer_copyright-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_copyright-text {
    margin-right: 0;
    color: #9a9a9a;
}
.footer_icon {
    display: flex;
    margin-bottom: 45px;
}
.footer_item-icon {
    width: 30px;
    height: 29px;
    list-style: none;
}
.footer_link-icon {
    text-decoration: none;
}
.footer_icon-svg {
    margin-left: 10px;
    fill: #9a9a9a;;
}
.portfolio_picture {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 915px;

}
.portfolio_img {
    width: 260px;
    margin-bottom: 30px;
    margin-left: 30px;
}



.banner {
    height: 500px;
    background: url('./images/img/banner-bg.jpg') no-repeat 0 0;
    background-size: cover;
}
.banner-info {
    text-align: center;
}
.banner-title {
    margin-top: 180px; 
}
.banner-link {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    line-height: 3.43;
    color: #60606e;
}
.about {
    display: flex;
    margin-top: 143px;
}
.about-info {
    margin-right: 32px;
}
.about-subtitle {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 800;
}
.about-text {
    margin-top: 15px;
    width: 529px;
    font-size: 14px;
    line-height: 2.14;
}
.benefits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 402px;
    margin-top: 94px;
}
.benefits-item {
    margin-bottom: 44px;
}
.benefits-title {
    margin-left: 20px;
    font-size: 18px;
}
.benefits-text {
    width: 344px;
    margin: 0;
    font-size: 14px;
    line-height: 2.14;
}
.benefits-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.benefist-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    fill: #ffffff;
    background-color: #7beec7;
}
.benefist-icon:hover {
    fill: black;
    cursor: pointer;
}
.team {
    margin-top: 70px;
}
.team-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 730px;
}
.team-img {
    margin-right: 30px;
    margin-top: 30px;
}
.team-img_info:hover {
    display: none;
}
.team_bar {
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    margin-top: 28px;
    background-color: rgba(96, 96, 110, 0.1);
}
.team_bar-text {
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    line-height: 2.67;
    font-style: italic;
}
.team_bar-btn {
    text-transform: uppercase;
}
.team-info {
    display: flex;
    margin-top: 150px;   
}
.team-info_item {
    text-align: center;
}
.team-info_icon {
    width: 82px;
    height: 82px;
}
.team-info_text {
    font-size: 14px;
    line-height: 2.14;
}
.team-info_btn {
    width: 98px;
    height: 35px;
    margin-top: 20px;
}
.team-info_clients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 230px;
}
.team-info_img {
    width: 165px;
    height: 100px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 7px 35px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    background-color: rgba(96, 96, 110, 0);
}
.team-info_img:nth-child(odd) {
    margin-top: 0;
}
.team-list {
    display: flex;  
    justify-content: center;
}
.team-list_item {
    width: 15px;
    height: 5px;
    margin-right: 5px;
    margin-top: 21px;
    background-color: #60606e;
    list-style: none;
    text-indent: -9999px;
    cursor: pointer; 
}
.team-list_item:hover {
    background-color: #7beec7;
}
.team-list_item:first-child {
    width: 30px;
    background-color: #7beec7;   
}
.team-list_link {
    text-decoration: none;  
}



.services {
    display: flex;
    margin-top: 80px;
}
.services-info {

}
.services-text {
    width: 521px;
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 14px;
    line-height: 2.14;
}
.services-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    cursor: pointer;
}
.services-item {
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    line-height: 2.14;
    list-style: none;
}
.services-item::before {
    content: "";
    margin-right: 3px;
    background: url('./images/icon/icon-done.svg') no-repeat 0 0;
    background-size: 9px 7px;
    background-position: center;
    width: 10px;
    height: 10px;
    background-color: #7beec7;
    display: inline-flex;
}
.services-img {
    margin-left: 30px;
}
.services-advantage {
    display: flex;
    margin-top: 144px;
}
.services-advantage_info {
    position: relative;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}
.services-advantage_bg {
    display: flex; 
    position: absolute;
    width: 55px;
    height: 21px;
    top: 23px;
    left: 95px;
    z-index: -1;
    background-color: #7beec7;
}
.services-advantage_icon {
    width: 55px;
    height: 50px;
    fill:#60606e;;
}
.services-advantage_title {
    font-size: 18px;
    line-height: 1.67;
    font-weight: bold;
}
.services-advantage_text {
    font-family: "OpenSans", sans-serif;
    width: 264px;
    margin-top: 10px;
}